@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #060408;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

[data-rk] {
  z-index: 9999 !important;
  pointer-events: all !important;
}

[data-rk] * {
  pointer-events: all !important;
}

[data-rk] button {
  pointer-events: all !important;
  cursor: pointer !important;
}