@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #060408;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

[data-rk] {
  z-index: 9999 !important;
}
#rainbow-kit-modal * {
  color: white !important;
}